---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import benProfile from '../assets/ben-profile.png';
import BaseHead from '../components/BaseHead.astro';
import socialImage from '../content/case-studies/sendd-hero.webp';

const caseStudies = await getCollection('caseStudies');
caseStudies.sort((a, b) => (a.data.order ?? 0) - (b.data.order ?? 0));
---

<html lang="en">
  <head>
  <BaseHead title="Ben La" description="Design portfolio" image={socialImage} />
  </head>
  <body>
    <Header />
    <main>

      <!-- Intro section -->
      <section class="section bg-light landing-intro">
        <div class="section-inner">
          <div class="intro-layout">
            <div class="intro-photo">
              <Image src={benProfile} alt="Ben La" />
            </div>
            <div class="intro-text">
              <h1>Hi, I'm Ben</h1>
              <p>I work collaboratively to design and deliver meaningful experiences.</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Project index -->
      <section class="section bg-light project-index">
        <div class="section-inner">
		  <h2>Case studies</h2>
          <div class="project-grid">
            {caseStudies.map((study) => (
              <a class="project-card" href={`/case-studies/${study.id}`}>
				<div class="card-image">
                  <Image src={study.data.heroImage} alt={study.data.heroImageAlt} />
				</div>
                <h3>{study.data.title}</h3>	
                <p>{study.data.subheading}</p>
              </a>
            ))}
          </div>
        </div>
      </section>

    </main>
    <Footer />
  </body>
</html>